---


---

<div class="w-full h-screen ml-60 p-[1rem] grid grid-cols-2  md:grid-cols-3 grid-flow-row col-start-2 col-end-3 gap-5 ">
  <div class="w-full grid grid-cols-1 grid-rows-2 gap-[1rem] p-[0.5rem] ">
    <div class="w-full p-[1rem] flex flex-col items-start justify-evenly ">
      <span class="text-[#333] font-normal md:font-medium text-sm md:text-[1.8rem] ">Popular</span>
      <h1 class="text-black font-bold md:font-black text-xl md:text-[4rem] uppercase leading-normal ">It's Alright <br/> ft. Cosmos Colors </h1>
    </div>
    <div class="w-[90%] mx-auto">
      <ul class="w-full flex flex-col">
        <li class="p-[0.5rem] flex justify-between items-center mb-3 ">
          <div class="flex items-center">
            <figure class="w-[2rem] h-[2rem]" >
              <img class="w-full h-full rounded-full object-cover bg-cover bg-no-repeat bg-center " alt="images podcast" src="../../../src/assets/img/mobile/laptop_02.webp">
            </figure>
            <div class="flex flex-col ml-3">
              <p class="whitespace-nowrap font-bold text-base mb-[0.5rem]">Podcaster</p>
              <span class="ml-[1rem] whitespace-nowrap font-normal text-sm brightness-50">themes Podcast</span>
            </div>
          </div>
          <div class="w-[6rem] flex items-center justify-between">
            <a class="" href="#" >
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
              <span class="text-[#333] font-bold text-sm whitespace-nowrap " >150</span>
            </a>
            <a class="" href="#" ><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-player-skip-forward"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5v14l12 -7z" /><path d="M20 5l0 14" /></svg>
              <span class="text-[#333] font-bold text-sm whitespace-nowrap" >25k</span>
            </a>
          </div>
        </li>
        <li class="p-[0.5rem] flex justify-between items-center mb-3 ">
          <div class="flex items-center">
            <figure class="w-[2rem] h-[2rem]" >
              <img class="w-full h-full rounded-full object-cover bg-cover bg-no-repeat bg-center " alt="images podcast" src="../../../src/assets/img/mobile/laptop_02.webp">
            </figure>
            <div class="flex flex-col ml-3">
              <p class="whitespace-nowrap font-bold text-base mb-[0.5rem]">Podcaster</p>
              <span class="ml-[1rem] whitespace-nowrap font-normal text-sm brightness-50">themes Podcast</span>
            </div>
          </div>
          <div class="w-[6rem] flex items-center justify-between">
            <a class="" href="#" >
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
              <span class="text-[#333] font-bold text-sm whitespace-nowrap " >150</span>
            </a>
            <a class="" href="#" ><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-player-skip-forward"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5v14l12 -7z" /><path d="M20 5l0 14" /></svg>
              <span class="text-[#333] font-bold text-sm whitespace-nowrap" >25k</span>
            </a>
          </div>
        </li>
        <li class="p-[0.5rem] flex justify-between items-center mb-3 ">
          <div class="flex items-center">
            <figure class="w-[2rem] h-[2rem]" >
              <img class="w-full h-full rounded-full object-cover bg-cover bg-no-repeat bg-center " alt="images podcast" src="../../../src/assets/img/mobile/laptop_02.webp">
            </figure>
            <div class="flex flex-col ml-3">
              <p class="whitespace-nowrap font-bold text-base mb-[0.5rem]">Podcaster</p>
              <span class="ml-[1rem] whitespace-nowrap font-normal text-sm brightness-50">themes Podcast</span>
            </div>
          </div>
          <div class="w-[6rem] flex items-center justify-between">
            <a class="" href="#" >
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
              <span class="text-[#333] font-bold text-sm whitespace-nowrap " >150</span>
            </a>
            <a class="" href="#" ><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-player-skip-forward"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5v14l12 -7z" /><path d="M20 5l0 14" /></svg>
              <span class="text-[#333] font-bold text-sm whitespace-nowrap" >25k</span>
            </a>
          </div>
        </li>
        <li class="p-[0.5rem] flex justify-between items-center mb-3 ">
          <div class="flex items-center">
            <figure class="w-[2rem] h-[2rem]" >
              <img class="w-full h-full rounded-full object-cover bg-cover bg-no-repeat bg-center " alt="images podcast" src="../../../src/assets/img/mobile/laptop_02.webp">
            </figure>
            <div class="flex flex-col ml-3">
              <p class="whitespace-nowrap font-bold text-base mb-[0.5rem]">Podcaster</p>
              <span class="ml-[1rem] whitespace-nowrap font-normal text-sm brightness-50">themes Podcast</span>
            </div>
          </div>
          <div class="w-[6rem] flex items-center justify-between">
            <a class="" href="#" >
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
              <span class="text-[#333] font-bold text-sm whitespace-nowrap " >150</span>
            </a>
            <a class="" href="#" ><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-player-skip-forward"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5v14l12 -7z" /><path d="M20 5l0 14" /></svg>
              <span class="text-[#333] font-bold text-sm whitespace-nowrap" >25k</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="w-full col-start-2 col-end-4 ">
    <figure class="w-full h-full">
      <img class="w-full h-full object-cover bg-cover bg-no-repeat bg-center aspect-square " src="../../../src/assets/img/web/girl_podcast.jpg" alt="images podcast"/>
    </figure>
  </div>
</div>