---


---

<section class="fixed w-full h-[14rem] p-[1rem] bottom-0 z-10 shadow-md bg-[#3D58F2]">
  <div class="flex items-center w-full h-full " >
  
    <!-- User Photo -->
    <div class="mx-[1rem] my-0" >
       <figure class="w-[4rem] md:w-[8rem] h-[4rem] md:h-[8rem] ">
         <img class="w-full h-full object-cover bg-cover bg-no-repeat bg-center rounded-xl shadow-md aspect-square md:aspect-video "  />
       </figure>
    </div>

    <!-- Music Player Controls -->
     <div class=""></div>

    <!-- Playback Bar and Audio Controls -->
     <div class=""></div>
  
    </div>
</section>