---

import LayoutError from "../layouts/LayoutError.astro";

---

<LayoutError title="Layout to Page Error 404" description="Layout for Pages Error 404" >
  <main id="idPageError" class=""></main>
</LayoutError>