---

import Layouts from "../layouts/Layouts.astro";
import HeroPage from "../components/pages/HeroPage.astro";

---

<Layouts title="Layouts Pages" description="Pagination using Layouts with Pages" >
  <main class="w-full h-full">
    <HeroPage title="Hero Section To Page Clothes." description="Hero Section to Page Clothes Products" />
  </main>
</Layouts>