---

import Layouts from "../layouts/Layouts.astro";
import HeroPage from "../components/pages/HeroPage.astro";
import ProductSale from "../components/pages/ProductSale.astro";
import TopStore from "../components/pages/TopStore.astro"; 
import BannerStore from "../components/pages/BannerStore.astro";
import Footer from "../components/Footer.astro";
import { fullProducts } from "../ts/apiContent";
import { usersAPI } from "../ts/apiCategory";


const products = await fullProducts();
const allProducts = await fullProducts(); 
const store = await fullProducts(); 
const users = await usersAPI();

---

<Layouts title="Layouts Pages" description="Pagination using Layouts with Pages" >
  <main class="w-full h-full">
    <HeroPage title="Hero Section To Page Clothes." description="Hero Section to Page Clothes Products" />
    <ProductSale products={products.slice(0, 1)} />
    <TopStore allProducts={allProducts.slice(0, 6)} store={store.slice(0, 1)} />
    <BannerStore />
  </main>
  <Footer />
</Layouts>