---

import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import Popular from '../components/Popular.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';

// === Home ===
---

<Layout title="Website Music and Podcast" description='Page with all music and the only podcast of music and information.'>
	<main class="w-full ">
		<Intro />
		<Popular />
    <PreFooter />
	</main>
	<Footer />
</Layout>