---

interface Props {
  logoTitle : string
}

const { logoTitle } = Astro.props

---

<a class="p-[1rem]">
  <figure class="h-[3rem] md:h-[4rem]">
    <img class="w-full h-full rounded-[0.8rem] border-none outline-none" src="../../src/assets/icons/logo_closet_1.png" alt="logo Images Music">
  </figure>
</a>