---

//import { ProductList } from "../ts/interfaces";
import { fullProducts } from "../ts/apiContent";


const products = await fullProducts(); 

---

{
  products.map(product => ( 
    <div>
      <span>{product.title}</span>
    </div>
  ))
}
