---

//import { ProductList } from "../ts/interfaces";
import Cards from './ui/Cards.astro';
import CategoriesCards from './ui/CategoriesCards.astro';
import { fullProducts } from "../ts/apiContent";
import { allCategory } from '../ts/apiCategory'; 


const products = await fullProducts(); 
const categories = await  allCategory(); 

---

<section class="w-full p-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-6  grid-flow-row gap-5 mx-auto my-5">
  <Cards products={products.slice(0, 8)} />
</section>

<section class="w-full p-[1rem] my-[2rem] mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  grid-flow-row gap-5">
  <CategoriesCards categories={categories.slice(0, 4)} />
</section>
