---

---
<section class="w-full p-[1rem] grid grid-cols-1 md:grid-cols-2 grid-flow-row-dense gap-5 ">
  
  <div class="w-full h-full row-start-1 row-end-4 ">
    <div class="relative w-full h-full" >
      <figure class="z-0 w-full h-full " >
        <img src="../../../src/assets/img/web/web_3.jpg" class="w-full h-full aspect-square md:aspect-video object-cover bg-cover bg-no-repeat bg-center rounded-[2rem] outline ">
      </figure>
      <div class="absolute z-10" >
        <h2 class="">How to get the perfect look while also being practical</h2>
        <a  class="">Hear Podcast</a>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 grid-row-2">
    
    <div class="relative" >
      <figure class=" z-0 " >
        <img src="../../../src/assets/img/web/web_2.jpg" class="w-full h-full aspect-square md:aspect-video object-cover bg-cover bg-no-repeat bg-center rounded-[3rem] outline ">
      </figure>
      <div class="absolute z-10" >
        <h2 class="">How to get the perfect look while also being practical</h2>
        <a  class="">Hear Podcast</a>
      </div>
      </div>
    </div>

    <div class="relative" >
      <figure class="z-10" >
        <img src="../../../src/assets/img/web/web_1.jpg" class="w-full h-full aspect-square md:aspect-video object-cover bg-cover bg-no-repeat bg-center rounded-[3rem] outline " />
      </figure>
      <div class="absolute z-10" >
        <h2 class="">How to get the perfect look while also being practical</h2>
        <a  class="">Hear Podcast</a>
      </div>
      </div>
    </div>

  </div>

</section>