---

import { usersAPI } from "../../ts/apiCategory";
import SideBar from '../../../src/sections/podcast/SideBar.astro'
import MainContent from '../../../src/sections/podcast/MainContent.astro'
import ReproMain from '../../../src/sections/podcast/ReproMain.astro'

//const user = usersAPI(); 

---

<section class="w-full p-[1rem] relative grid grid-cols-[15rem, 1fr] gap-5 ">

<!-- === SideBar Nav === -->
 <SideBar />
<!-- === Main Content === -->
 <MainContent /> 
<!-- === Podcast Reproduction Main === -->
 <ReproMain />

</section>